In [22]:
import numpy as np
import pandas as pd

## NUMPY

In [21]:
# 1) 
a = np.array([[1, 2, 3, 3, 1], 
              [6, 8, 11, 10, 7]], dtype=int)
a = np.transpose(a)
mean_a = np.mean(a, axis=0)
print(f'===== a ====\n{a}')
print(f'== mean_a ==\n{mean_a}')

# 2)
a_centered = a - np.reshape(mean_a, (1, 2))
print(f'= a_centered =\n{a_centered}')

# 3)
N = 5
a_centered_sp = np.dot(a_centered[:,0], a_centered[:,1]) / (N-1)
print(f'= a_centered_sp ={a_centered_sp}')

# 4)
a_centered_sp_2 = np.cov(a.transpose())
print(f'= a_centered_sp_2 ={a_centered_sp_2}')

===== a ====
[[ 1  6]
 [ 2  8]
 [ 3 11]
 [ 3 10]
 [ 1  7]]
== mean_a ==
[2.  8.4]
= a_centered =
[[-1.  -2.4]
 [ 0.  -0.4]
 [ 1.   2.6]
 [ 1.   1.6]
 [-1.  -1.4]]
= a_centered_sp =2.0
= a_centered_sp_2 =[[1.  2. ]
 [2.  4.3]]

## PANDAS

In [46]:
# 1) 
a = {
    'author_id': [1,2,3],
    'author_name': ['Тургенев', 'Чехов', 'Островский']
}
b = {
    'author_id': [1, 1, 1, 2, 2, 3, 3],
    'book_title': ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
    'price': [450, 300, 350, 500, 450, 370, 290]
}
authors = pd.DataFrame(a)
books = pd.DataFrame(b)

# 2)
authors_price = pd.merge(authors, books, on='author_id', how='inner')
print(authors_price)

# 3)
top5 = authors_price.nlargest(5, "price")
print(top5)

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290
   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

In [52]:
# 4)
authors_stat = authors_price.groupby("author_name")
authors_stat.agg({"price": ["min", "max", "mean"]})
# authors_stat = pd.DataFrame({
#     'author_name': authors_price['author_name'],
#     'min_price': authors_price["price"].min(),
#     'max_price': authors_price["price"].max(),
#     'mean_price': authors_price["price"].mean(),
# })

            price
              min  max
author_name
Островский    290  370
Тургенев      300  450
Чехов         450  500